---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.084 TT 0 0.086"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 737,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8503198W",
                    "type": "work",
                    "seed": [
                        "/books/OL10909613M",
                        "/works/OL8503198W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Denver, Co",
                    "title_suggest": "Denver, Co",
                    "edition_count": 1,
                    "edition_key": [
                        "OL10909613M"
                    ],
                    "publish_date": [
                        "January 2001"
                    ],
                    "publish_year": [
                        2001
                    ],
                    "first_publish_year": 2001,
                    "isbn": [
                        "0762507845",
                        "9780762507849"
                    ],
                    "last_modified_i": 1338943517,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1735677215044009984,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "key": "/works/OL896607W",
                    "type": "work",
                    "seed": [
                        "/books/OL10945157M",
                        "/works/OL896607W",
                        "/authors/OL79165A"
                    ],
                    "title": "Denver west, CO and Bailey, CO: Denver, CO",
                    "title_suggest": "Denver west, CO and Bailey, CO: Denver, CO",
                    "subtitle": "39105, digital raster graphic data",
                    "edition_count": 1,
                    "edition_key": [
                        "OL10945157M"
                    ],
                    "publish_date": [
                        "1996"
                    ],
                    "publish_year": [
                        1996
                    ],
                    "first_publish_year": 1996,
                    "isbn": [
                        "9780607620054",
                        "0607620056"
                    ],
                    "last_modified_i": 1272517172,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "USGS Branch of Distribution"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL79165A"
                    ],
                    "author_name": [
                        "United States Geological Survey"
                    ],
                    "author_alternative_name": [
                        "U.S. Geological Survey",
                        "Geological Survey. (U.S.)",
                        "Geological Survey (U .S.)",
                        "Geological Survey (U.S.)",
                        "Geological Survey (U. S.)",
                        "United States. Geological survey.",
                        "United States. Geological Survey",
                        "United States. Geological Survey.",
                        "Geological Survey (U.S.) 088"[...]
