---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=weather_key&exclude=minutely,alerts&lat=39.73&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1676585425,"sunrise":1676555492,"sunset":1676594204,"temp":30.38,"feels_like":25.56,"pressure":1021,"humidity":35,"dew_point":8.6,"uvi":1.07,"clouds":20,"visibility":10000,"wind_speed":4.61,"wind_deg":150,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"snow":{"1h":0.69}},"hourly":[{"dt":1676584800,"temp":30.38,"feels_like":25.03,"pressure":1021,"humidity":35,"dew_point":8.6,"uvi":1.07,"clouds":20,"visibility":10000,"wind_speed":5.14,"wind_deg":60,"wind_gust":4.72,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1676588400,"temp":30.2,"feels_like":25.72,"pressure":1022,"humidity":36,"dew_point":9,"uvi":0.4,"clouds":16,"visibility":10000,"wind_speed":4.25,"wind_deg":87,"wind_gust":2.51,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1676592000,"temp":29.5,"feels_like":24.28,"pressure":1023,"humidity":39,"dew_point":9.95,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":4.85,"wind_deg":134,"wind_gust":5.37,"weather":[{"id":801,"main":"Clouds[...]
