---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=weather_key&exclude=minutely,alerts&lat=39.73&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664408046,"sunrise":1664369591,"sunset":1664412467,"temp":80.73,"feels_like":79.09,"pressure":1018,"humidity":21,"dew_point":37.2,"uvi":0.25,"clouds":75,"visibility":10000,"wind_speed":8.05,"wind_deg":220,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1664406000,"temp":81.1,"feels_like":79.23,"pressure":1017,"humidity":19,"dew_point":34.99,"uvi":1.04,"clouds":71,"visibility":10000,"wind_speed":8.68,"wind_deg":173,"wind_gust":7.11,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1664409600,"temp":80.73,"feels_like":79.09,"pressure":1018,"humidity":21,"dew_point":37.2,"uvi":0.25,"clouds":75,"visibility":10000,"wind_speed":12.86,"wind_deg":167,"wind_gust":11.45,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1664413200,"temp":79.79,"feels_like":79.79,"pressure":1018,"humidity":22,"dew_point":37.62,"uvi":0,"clouds":63,"visibility":10000,"wind_speed":13.06,"wind_deg":179,"wind_gust":19.08,"weather":[{"id":803[...]
