---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=weather_key&exclude=minutely,alerts&lat=39.73&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1674760775,"sunrise":1674742379,"sunset":1674778298,"temp":36.64,"feels_like":29.32,"pressure":1021,"humidity":28,"dew_point":9.34,"uvi":2.22,"clouds":20,"visibility":10000,"wind_speed":10.36,"wind_deg":230,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1674759600,"temp":36.64,"feels_like":32.7,"pressure":1021,"humidity":28,"dew_point":9.34,"uvi":2.22,"clouds":20,"visibility":10000,"wind_speed":4.79,"wind_deg":247,"wind_gust":10.74,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1674763200,"temp":36.39,"feels_like":32.11,"pressure":1021,"humidity":30,"dew_point":10.51,"uvi":1.97,"clouds":16,"visibility":10000,"wind_speed":5.14,"wind_deg":273,"wind_gust":11.1,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1674766800,"temp":36.43,"feels_like":32.59,"pressure":1020,"humidity":33,"dew_point":12.45,"uvi":1.37,"clouds":15,"visibility":10000,"wind_speed":4.63,"wind_deg":282,"wind_gust":11.27,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1674770400,"temp":36.01,"feels_like":36.01,"pressure":1019,"humidity":41,"dew_point":16.54,"uvi":0.78,"clouds":25,"visibility":10000,"wind_speed":1.7,"wind_deg":292,"wind_gust":5.12,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1674774000,"temp":34.38,"feels_like":34.38,"pressure":1018,"humidity":49,"dew_point":18.86,"uvi":0.24,"clouds":26,"visibility":10000,"wind_speed":0.81,"wind_deg":326,"wind_gust":1.92,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1674777600,"temp":31.73,"feels_like":31.73,"pressure":1018,"humidity":61,"dew_point":19.08,"uvi":0,"clouds":39,"visibility":8271,"wind_speed":2.21,"wind_deg":189,"wind_gust":2.13,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.2,"snow":{"1h":0.11}},{"dt":1674781200,"temp":31.15,"feels_like":25.72,"pressure":1018,"humidity":69,"dew_point":21.78,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":5.41,"wind_deg":218,"wind_gust":7.7,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1674784800,"temp":31.44,"feels_like":25.57,"pressure":1018,"humidity":71,"dew_point":22.69,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.99,"wind_deg":231,"wind_gust":16.75,"weather":[{"[...]
