---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=weather_key&exclude=minutely,alerts&lat=39.73&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1673302356,"sunrise":1673274045,"sunset":1673308368,"temp":48.31,"feels_like":42.21,"pressure":1013,"humidity":36,"dew_point":23.68,"uvi":0.49,"clouds":75,"visibility":10000,"wind_speed":16.11,"wind_deg":140,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1673301600,"temp":48.31,"feels_like":48.31,"pressure":1013,"humidity":36,"dew_point":23.68,"uvi":0.49,"clouds":75,"visibility":10000,"wind_speed":2.62,"wind_deg":238,"wind_gust":3.22,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1673305200,"temp":47.12,"feels_like":47.12,"pressure":1013,"humidity":38,"dew_point":23.88,"uvi":0.14,"clouds":80,"visibility":10000,"wind_speed":1.19,"wind_deg":278,"wind_gust":2.21,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1673308800,"temp":45.19,"feels_like":45.19,"pressure":1012,"humidity":41,"dew_point":23.95,"uvi":0,"clouds":85,"visibility":10000,"wind_speed":1.12,"wind_deg":288,"wind_gust":2.04,"weather":[{"id":804,"m[...]
